/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 5% 85%;
        height: 100vh;
    }
    .topnav-desktop {
        display: none;
    }
    /*Copied over from W3 */
    .topnav-mobile {
    display: block;
    background-color: darkslategrey;
    position: relative;
    }

    .topnav-mobile #myLinks {
    display: none;
    }

    .topnav-mobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    }

    .topnav-mobile a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    }

    .topnav-mobile a:hover {
    background-color: #ddd;
    color: black;
    }

    .active {
    background-color: darkslategrey;
    color: white;
    float: right;
    }
    /*up to here */
    .header {
        margin-top: ;
        padding: ;
        background-color: #7392B7;
        font-size: 2rem;
        font-style: italic;
    }
    .navigation {
        background-color: darkslategrey;
    }
    .navigation > a {
        color: white;
    }
    .main {
        background-color: blueviolet;
        overflow: scroll;
    }
    .main > h1 {
        font-size: 2rem;
        text-align: center;
    }
    .responsive-iframe {
        margin-left: 0;
        margin-right: 0;
    }
    .footer {
        background-color: brown;
        position: bottom;
        bottom: 0;
        width: 100vw;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 75%;
        height: 100vh;
        width: 100vw;
        overflow: visible;
    }
    .topnav-mobile {
        display: none;
    }
    .topnav-desktop {
        display: block;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .header {
        background-color: #7392B7;
        display: block;
        padding-top: 5px;
        padding-left: 5px;
    }
    .navigation {
        background-color: #7392B7;
    }
    #myLinks {
        text-align: center;
    }
    #myLinks > a {
        color: white;
        font-size: 1.5rem;
        margin: 3px;
        text-decoration: none;
    }
    .main {
        background-color: blueviolet;
        overflow: scroll;
    }
    .footer {
        background-color: brown;
        position: bottom;
        bottom: 0;
        width: 100vw;
    }
}