/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 75%;
        height: 100vh;
        width: 100%;
    }
    .topnav-desktop {
        display: none;
    }
    
    /*Copied over from W3 */
    .topnav-mobile {
    display: block;
    background-color: darkslategrey;
    position: relative;
    }

    .topnav-mobile #myLinks {
    display: none;
    }

    .topnav-mobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    }

    .topnav-mobile a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    }

    .topnav-mobile a:hover {
    background-color: #ddd;
    color: black;
    }

    .active {
    background-color: darkslategrey;
    color: white;
    float: right;
    }
    /*up to here */
    
    .header {
        background-color: #999999;
        font-size: 10px;
        font-style: italic;
        display: inline;
    }
    .header #webLogo {
        display: none;
    }
    .header #mobileLogo {
        display: block;
    }
    .navigation {
        background-color: #999999;
    }
    .navigation > a {
        color: white;
    }
    .main-wrapper {
        background-color: #666666;
        overflow: scroll;
    }
    .main-wrapper > h1 {
        font-size: 2rem;
        text-align: center;
    }
    .responsive-iframe {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }
    .footer {
        background-color: brown;
        position: bottom;
        bottom: 0;
        width: 100vw;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 5% 60% 15%;
        height: none;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 22% 5% 73%;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        font-family: 'Bree Serif', serif;
    }
    .topnav-mobile {
        display: none;
    }
    .topnav-desktop {
        display: block;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .header {
        background-color: #999999;
        width: 100%;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 3rem;
        text-decoration: underline;
    }
    img {
        float: left;
    }
    #webLogo {
        display: block;
    }
    #mobileLogo {
        display: none;
    }
    .navigation {
        background-color: #999999;
        padding-top: 10px;
    }
    #myLinks {
        text-align: center;
    }
    #myLinks > a {
        color: white;
        font-size: 1.5rem;
        margin: 3px;
        text-decoration: none;
    }
    .main-container {
        background-color: #666666;
        overflow: scroll;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-wrapper > p {
        text-align: center;
        font-size: 1.5rem
    }
    .main-wrapper {
        padding-left: 10px;
    }
    .footer {
        background-color: brown;
        position: bottom;
        bottom: 0;
        width: 100vw;
    }
}